body{
  height:100%;
}
.container{
  position:absolute;
  height:400px;
  width:400px;
  left:50%;
  top:50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-perspective:800px;
          perspective:800px;
}

.center{text-align:center; width: 100%; font-size: 3em;}

.resultado{display:block; width:100%;  margin:0 auto; font-size:3rem;  } 
.resultado:before, .resultado:after{content:'YOU LOSE';background: rgba(204, 51, 51, .8);display:none;z-index: 9999; height:50vh;  top: 0;bottom: 0;left: 0;right: 0; position:absolute; margin:auto; text-align:center; line-height:50vh}
.resultado:before{content:'YOU WIN'; background: rgba(65, 195,172, .8);}



input:checked  + input:checked +input:checked +input:checked +input:checked + input:checked ~ .resultado:before{display:block;}
input:checked  + input:checked +input:checked +input:checked +input:checked + input:checked ~ .resultado:after{display:none;}


input ~ input:checked ~ .resultado:after{display:block;  }
input:checked  + input:checked ~ .resultado:after{display:none;  }
input:checked  + input:checked + input:checked ~ .resultado:after{display:none;  }
input:checked  + input:checked  + input:checked + input:checked ~ .resultado:after{display:none;  }

input:checked  + input:checked  + input:checked + input:checked ~ input + input:checked ~ .resultado:after{display:block;  }
input:checked  + input:checked  + input:checked + input:checked ~ input:checked ~ .resultado:after{display:none;  }
input:checked  + input:checked + input ~ input:checked ~ .resultado:after{display:block;  }
input{border-radius:50%; margin:15px ;width:30px;height:30px}

#side1{box-shadow: 0 0 0 28px #41C3AC}
#side2{box-shadow: 0 0 0 28px #FF884D}
#side3{box-shadow: 0 0 0 28px #32526E}
#side4{box-shadow: 0 0 0 28px #65A2C5}
#side5{box-shadow: 0 0 0 28px #FFCC5C}
#side6{box-shadow: 0 0 0 28px #FF5557}
input:checked{ box-shadow: 0 0 0 8px #333 !important}
.side:hover{z-index: 9999;}

.cube{
  height:400px;
  widht:400px;
  -webkit-transform-origin:50% 50%;
          transform-origin:50% 50%;
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-animation:rotate 8s infinite ease-in-out;
          animation:rotate 8s infinite ease-in-out;
  
}
.side{
  position:absolute;
  display:block;
  height:400px;
  width:400px;
}
.side1{
  background:#41C3AC;
  -webkit-transform:translateZ(200px);
          transform:translateZ(200px);
}
.side2{
  background:#FF884D; 
  -webkit-transform:rotateY(90deg) translateZ(200px);
          transform:rotateY(90deg) translateZ(200px);
}
.side3{
  background:#32526E; 
  -webkit-transform:rotateY(180deg) translateZ(200px);
          transform:rotateY(180deg) translateZ(200px);
}
.side4{
  background:#65A2C5;
  -webkit-transform:rotateY(-90deg) translateZ(200px);
          transform:rotateY(-90deg) translateZ(200px);
}
.side5{
  background:#FFCC5C;
  -webkit-transform:rotateX(90deg) translateZ(200px);
          transform:rotateX(90deg) translateZ(200px);
}
.side6{
  background:#FF5557;
  -webkit-transform:rotateX(-90deg) translateZ(200px);
          transform:rotateX(-90deg) translateZ(200px);
}

@-webkit-keyframes rotate{
  0%{
    -webkit-transform:rotateX(0deg) rotateY(0deg);
  }
  40%{
     -webkit-transform:rotateX(375deg) rotateY(0deg);
  }
  47%,50%{
     -webkit-transform:rotateX(360deg) rotateY(0deg);    
  }
  90%{
     -webkit-transform:rotateX(360deg) rotateY(375deg);
  }
  97%,100%{
     -webkit-transform:rotateX(360deg) rotateY(360deg);
  }
}
@keyframes rotate{
  0%{
    transform:rotateX(0deg) rotateY(0deg);
  }
  40%{
    transform:rotateX(375deg) rotateY(0deg);
  }
  47%,50%{
    transform:rotateX(360deg) rotateY(0deg);    
  }
  90%{
    transform:rotateX(360deg) rotateY(375deg);
  }
  97%,100%{
    transform:rotateX(360deg) rotateY(360deg);
  }
}

a{
  font-family:helvetica;
  color:#428bca;
  text-align:center;
  display:block;
}
